.sx-react-calendar-wrapper {
    width: 1200px;
    max-width: 100vw;
    height: 800px;
    max-height: 90vh;
}

.sx__month-grid-cell{
    margin-top: 10px;
    width: 100% !important;

}

.sx__month-grid-day__events{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 90% !important;
    margin-left: 5%;
}